{% extends "base.html" %}

{% block title %}Checkpoints Manager{% endblock %}
{% block page_id %}checkpoints{% endblock %}

{% block preload %}
<link rel="preload" href="/loras_static/js/checkpoints.js" as="script" crossorigin="anonymous">
{% endblock %}

{% block init_title %}Initializing Checkpoints Manager{% endblock %}
{% block init_message %}Setting up checkpoints interface. This may take a few moments...{% endblock %}
{% block init_check_url %}/api/checkpoints?page=1&page_size=1{% endblock %}

{% block content %}
<div class="work-in-progress">
    <div class="wip-content">
        <i class="fas fa-tools"></i>
        <h2>Checkpoints Manager</h2>
        <p>This feature is currently under development and will be available soon.</p>
        <p>Please check back later for updates!</p>
    </div>
</div>
{% endblock %}

{% block main_script %}
<script type="module" src="/loras_static/js/checkpoints.js"></script>
{% endblock %}
