{% extends "base.html" %}

{% block title %}Checkpoints Manager{% endblock %}
{% block page_id %}checkpoints{% endblock %}

{% block preload %}
<link rel="preload" href="/loras_static/js/checkpoints.js" as="script" crossorigin="anonymous">
{% endblock %}

{% block init_title %}Initializing Checkpoints Manager{% endblock %}
{% block init_message %}Scanning and building checkpoints cache. This may take a few moments...{% endblock %}
{% block init_check_url %}/api/checkpoints?page=1&page_size=1{% endblock %}

{% block additional_components %}
{% include 'components/checkpoint_modals.html' %}
{% endblock %}

{% block content %}
    {% include 'components/controls.html' %}
    <!-- Checkpoint cards container -->
    <div class="card-grid" id="checkpointGrid">
        <!-- Cards will be dynamically inserted here -->
    </div>
{% endblock %}

{% block main_script %}
<script type="module" src="/loras_static/js/checkpoints.js"></script>
{% endblock %}
